@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --gray:#a3a3a3;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-gray: var(--gray);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}



@keyframes grainMove {
  0% { transform: translate(0, 0); }
  100% { transform: translate(-100px, 100px); }
}



@keyframes bounce-slow {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}

.animate-bounce-slow {
  animation: bounce-slow 6s ease-in-out infinite;
}
